<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="getMemberCount" resultType="_int">
		select count(*)
		from member
	</select>

	<select id="selectMemberList" resultMap="memberResultSet">
		select *
		from member
		order by member_no desc
	</select>
	<select id="selectMember" resultMap="memberResultSet">
		select *
		from member
		where member_no = #{mId}
	</select>
	
	<resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="IS_ADMIN" property="isAdmin"/>
		<result column="IS_JIBSA" property="isJibsa"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="EXIT_DATE" property="exitDate"/>
		<result column="BLACKLIST" property="blackList"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_ADDRESS" property="memberAddress"/>
	</resultMap>
	
	<select id="getAnimalCount" resultType="_int">
		select count(*)
		from animal
		where member_no = #{mId}
	</select>
	
	<select id="selectApplyJibsa" resultType="_int">
		select count(*)
		from jibsa
		where member_no = #{mId}
	</select>
	
	<update id="updateMember">
		update member
		set 
		<if test="isAdmin == null">
			member_name = #{memberName},
			is_jibsa = #{isJibsa}
		</if>
		<if test="isAdmin != null">
			member_name = #{memberName},
			member_email = #{memberEmail},
			is_admin = #{isAdmin},
			is_jibsa = #{isJibsa},
			member_status = #{memberStatus},
			member_phone = #{memberPhone},
			member_address = #{memberAddress}
		</if>
		where member_no = #{memberNo}
	</update>

	<select id="getJibsaCount" resultType="_int">
		select count(*)
		from jibsa
	</select>
	
	<select id="selectJibsaList" resultMap="jibsaResultSet">
		select *
		from jibsa
			 join member using(member_no)
		order by member_no desc
	</select>
	<select id="selectJibsa" resultMap="jibsaResultSet">
		select *
		from jibsa
			 join member using(member_no)
		where member_no = #{memberNo}
	</select>
	<resultMap type="Jibsa" id="jibsaResultSet">
		<id column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="JIBSA_GENDER" property="jibsaGender"/>
		<result column="JIBSA_RRN" property="jibsaRrn"/>
		<result column="IS_SMOKING" property="isSmoking"/>
		<result column="WORK_CAREER" property="workCareer"/>
		<result column="AVAILABLE_HOUR" property="availableHour"/>
		<result column="AVAILABLE_AREA" property="availableArea"/>
		<result column="MOTIVE" property="motive"/>
		<result column="EXPECTED_SALARY" property="expectedSalary"/>
		<result column="CHAT_ADDRESS" property="chatAddress"/>
		<result column="IS_PRIMIUM" property="isPrimium"/>
		<result column="PRIMIUM_PAYMENT_DATE" property="primiumPaymentDate"/>
		<result column="PRIMIUM_END_DATE" property="primiumEndDate"/>
		<result column="IS_TRAINER" property="isTrainer"/>
		<result column="IS_JIBSA" property="jibsaStatus"/>
	</resultMap>
	
	<update id="updateJibsa">
		update jibsa
		set jibsa_gender =
			<if test='jibsaGender == "F"'>
				'F',
			</if>
			<if test='jibsaGender == "M"'>
				'M',
			</if>
			jibsa_rrn = #{jibsaRrn},
			is_smoking = #{isSmoking},
			work_career = #{workCareer},
			available_hour = #{availableHour},
			available_area = #{availableArea},
 			motive = #{motive},
			expected_salary = #{expectedSalary},
			chat_address = #{chatAddress},
			is_primium = #{isPrimium},
			
			<if test="primiumPaymentDate != null">
				primium_payment_date = #{primiumPaymentDate},
			</if>
			<if test="primiumEndDate != null">
				primium_end_date = #{primiumEndDate},
			</if>
			is_trainer = #{isTrainer}
		where member_no = #{memberNo}
	</update>
	
	<select id="getFaqCount" resultType="_int">
		select count(*)
		from faq
	</select>
	
	<select id="selectFaqList" resultMap="faqResultSet">
		select *
		from faq
			 join member on(member_no = faq_writer)
		order by faq_no desc
	</select>
	<select id="selectFaq" resultMap="faqResultSet">
		select * 
		from faq 
			 join member on(member_no = faq_writer)
		where faq_no = #{fId}
	</select>
	<resultMap type="faq" id="faqResultSet">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="MEMBER_NAME" property="faqWriter"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_CREATE_DATE" property="faqCreateDate"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
	</resultMap>	
	
	<update id="updateFaq">
		update faq
		set faq_title = #{faqTitle},
			faq_content = #{faqContent},
			faq_status = #{faqStatus}
		where faq_no = #{faqNo}
	</update>
	
	<insert id="insertFaq">
		insert into faq
		values(seq_b_id.nextval, #{faqWriter}, #{faqTitle}, #{faqContent}, sysdate, #{faqStatus})
	</insert>
	
	<delete id="deleteFaq">
		delete from faq
		where faq_no = #{faqNo}
	</delete> 
	
	
	
	<select id="getQnaCount" resultType="_int">
		select count(*)
		from qna
	</select>
	
	<select id="selectQnaList" resultMap="qnaResultSet">
		select *
		from qna
			 join member using(member_no)
		order by qna_no desc
	</select>
	<select id="selectQna" resultMap="qnaResultSet">
		select *
		from qna
			 join member using(member_no)
		where qna_no = #{qId}
	</select>
	<resultMap type="qna" id="qnaResultSet">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="QNA_CATEGORY" property="qnaCategory"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QUESTION_DATE" property="questionDate"/>
		<result column="QNA_ANSWER" property="qnaAnswer"/>
		<result column="ANSWER_DATE" property="answerDate"/>
		<result column="QNA_STATUS" property="qnaStatus"/>
	</resultMap>	
	
	<update id="updateQna">
		update qna
		set qna_answer = #{qnaAnswer},
			answer_date = sysdate,
			qna_status = #{qnaStatus}
		where qna_no = #{qnaNo}
	</update>

	<select id="getReviewCount" resultType="_int">
		select count(*)
		from matching
	</select>
	
	<select id="selectReviewList" resultMap="boardResultSet">
		select *
		from member m
		    join animal a on(a.member_no = m.member_no)
		    join matching ma on(ma.animal_no = a.animal_no)
		    join jibsa_profile jp on(jp.member_no = ma.member_no)
		    order by ma.matching_no desc
	</select>
	<resultMap type="Board" id="boardResultSet">
		<id column="MATCHING_NO" property="matchingNo"/>
		<result column="ANIMAL_NO" property="animalNo"/>
		<result column="ANIMAL_NAME" property="animalName"/>
		<result column="ANIMAL_KIND" property="animalKind"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="MATCHING_PLACE" property="matchingPlace"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_RATING" property="reviewRating"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
		<result column="JIBSA_COMMENT" property="jibsaComment"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="JIBSA_NAME" property="jibsaName"/>
		<result column="IS_JIBSA" property="isJibsa"/>
		<result column="MATCHING_STATUS" property="matchingStatus"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
	</resultMap>
	
	<select id="selectReview" resultMap="boardResultSet">
		select *
		from member m
		    join animal a on(a.member_no = m.member_no)
		    join matching ma on(ma.animal_no = a.animal_no)
		    join jibsa_profile jp on(jp.member_no = ma.member_no)
		where ma.matching_no = #{rId}  
	</select>
	
	<update id="updateReview">
		update matching
		set review_status = #{reviewStatus} 
		where matching_no = #{matchingNo}
	</update>

	<update id="updateMatching">
		update matching
		set start_date = #{startDate},
			end_date = #{endDate},
			matching_Place = #{matchingPlace},
			matching_status = #{matchingStatus}
		where matching_no = #{matchingNo}
	</update>
	
</mapper>
