<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AnimalMapper">
	<select id="animalList" resultMap="animalResultSet">
		select *
		from animal
  		where member_no = #{memberNo} and is_status = 'Y'
	</select>
	
	<resultMap type="Animal" id="animalResultSet">
		<id column="ANIMAL_NO" property="animalNo" />
		<result column="ANIMAL_NAME" property="animalName" />
		<result column="ANIMAL_GENDER" property="animalGender" />
		<result column="ANIMAL_KIND" property="animalKind" />
		<result column="ANIMAL_WEIGHT" property="animalWeight" />
		<result column="ANIMAL_NOTE" property="animalNote" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="ANIMAL_TYPE" property="animalType" />
		<result column="ANIMAL_SIZE" property="animalSize" />
		<result column="IS_NEUTER" property="isNeuter" />
		<result column="BIRTH_DATE" property="birthDate" />
		<result column="IS_STATUS" property="isStatus" />
		<result column="IMAGE_LEVEL" property="imageLevel" />
	</resultMap>

	<update id="updateAnimal">
		update animal
		set animal_name = #{animalName}, animal_gender = #{animalGender}, animal_kind = #{animalKind}, animal_weight = #{animalWeight},
			animal_note = #{animalNote}, animal_type = #{animalType}, animal_size = #{animalSize}, is_neuter = #{isNeuter}, birth_date = #{birthDate}, is_status = default, image_level = default
		where member_no = #{memberNo} and animal_no = #{animalNo}
	</update>
	
	<insert id="insertAnimal">
		insert into animal
		values(seq_ani_id.nextval, #{animalName}, #{animalGender}, #{animalKind}, #{animalWeight}, #{animalNote}, #{memberNo}, #{animalType}, #{animalSize}, #{isNeuter}, #{birthDate}, default, default)
	</insert>
	
	<update id="deleteAnimal">
		update animal
		set is_status = 'N'
		where member_no = #{memberNo} and animal_no = #{animalNo}
	</update>
	
	<insert id="insertImage">
		insert into image
		values(seq_img_id.nextval, #{renameName}, #{originalName}, #{imageLevel}, #{imagePath}, #{memberNo})
	</insert>
	
	<select id="selectImage" resultMap="imageResultSet">
		select *
		from image
		where member_no = #{memberNo} and image_level = '1'
	</select>
	
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>		
		<result column="RENAME_NAME" property="renameName"/>
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
		<result column="IMAGE_PATH" property="imagePath"/>
		<result column="MEMBER_NO" property="memberNo"/>
	</resultMap>
	
	<update id="editImage">
		update image
		set rename_name = #{renameName}, original_name = #{originalName}, image_path = #{imagePath}
		where member_no = #{memberNo} and image_level = #{imageLevel}
	</update>
	
	<delete id="deleteImage">
		delete from image
		where member_no = #{memberNo} and image_level = '1'
	</delete>

</mapper>

