<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from matching
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet">
		select matching_no, member_name, end_date, animal_name, review_content
		from matching
		    join animal on(jibsa_no = member_no)
		    join member using(member_no)
	</select>
	
	<resultMap type="Board" id="boardResultSet">
		<id column="MATCHING_NO" property="matchingNo"/>
		<result column="ANIMAL_NO" property="animalNo"/>
		<result column="ANIMAL_NAME" property="animalName"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="MATCHING_PLACE" property="matchingPlace"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_RAITING" property="reviewRaiting"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
		<result column="JIBSA_COMMENT" property="jibsaComment"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NO" property="memberNo"/>
	</resultMap>
</mapper>
