<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from matching
	</select>

	<select id="reviewBoardList" resultMap="boardResultSet">
        select mc.matching_no, mc.animal_no, a.animal_name, a.animal_kind, mc.start_date, mc.end_date, mc.matching_place,
    		  mc.review_content, mc.review_rating, mc.review_count, mc.jibsa_comment, m.member_name, m.member_no, jp.jibsa_name, 
    		  jp.member_no, mc.matching_status, mc.review_status
		from matching mc
		     join animal a on(a.animal_no = mc.animal_no)
		     join jibsa_profile jp on(mc.jibsa_no = jp.member_no)
		     join member m on(mc.member_no = m.member_no)
		order by mc.matching_no desc
	</select>
	
	<resultMap type="Board" id="boardResultSet">
		<id column="MATCHING_NO" property="matchingNo"/>
		<result column="ANIMAL_NO" property="animalNo"/>
		<result column="ANIMAL_NAME" property="animalName"/>
		<result column="ANIMAL_KIND" property="animalKind"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="MATCHING_PLACE" property="matchingPlace"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_RATING" property="reviewRating"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
		<result column="JIBSA_COMMENT" property="jibsaComment"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="JIBSA_NAME" property="jibsaName"/>
		<result column="JIBSA_NO" property="jibsaNo"/>
		<result column="IS_JIBSA" property="isJibsa"/>
		<result column="MATCHING_STATUS" property="matchingStatus"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
	</resultMap>
	
	<select id="getJibsaListCount" resultType="_int">
		select count(*)
		from jibsa_profile
	</select>
	
	<select id="selectJibsaProfileList" resultMap="jibsaProfileResultSet">
		select *
		from jibsa_profile
			 join jibsa using(member_no)
<!-- 		where profile_status = 'Y' -->
		order by member_no desc
	</select>
	
	<resultMap type="JibsaProfile" id="jibsaProfileResultSet">
		<id column="MEMBER_NO" property="memberNo"/>	
		<result column="JIBSA_NAME" property="jibsaName"/>
		<result column="PROFILE_TITLE" property="profileTitle"/>
		<result column="PROFILE_TAG" property="profileTag"/>
		<result column="JIBSA_AVG_RATING" property="jibsaAvgRating"/>
		<result column="AVAILABLE_AREA" property="availableArea"/>
		<result column="EXPECTED_SALARY" property="expectedSalary"/>
	</resultMap>
	
	<select id="getJibsaInfo" resultMap="jibsaResultSet">
		select *
		from jibsa
			 join member using(member_no)
		where member_no = #{mId} and member_status = 'Y'  
		order by member_no desc
	</select>
	
	<resultMap type="Jibsa" id="jibsaResultSet">
		<id column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="JIBSA_GENDER" property="jibsaGender"/>
		<result column="JIBSA_RRN" property="jibsaRrn"/>
		<result column="IS_SMOKING" property="isSmoking"/>
		<result column="WORK_CAREER" property="workCareer"/>
		<result column="AVAILABLE_HOUR" property="availableHour"/>
		<result column="AVAILABLE_AREA" property="availableArea"/>
		<result column="MOTIVE" property="motive"/>
		<result column="EXPECTED_SALARY" property="expectedSalary"/>
		<result column="CHAT_ADDRESS" property="chatAddress"/>
		<result column="IS_PRIMIUM" property="isPrimium"/>
		<result column="PRIMIUM_PAYMENT_DATE" property="primiumPaymentDate"/>
		<result column="PRIMIUM_END_DATE" property="primiumEndDate"/>
		<result column="IS_TRAINER" property="isTrainer"/>
		<result column="MATCHING_STATUS" property="matchingStatus"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
	</resultMap>
	
	<select id="getJibsaProfile" resultMap="jibsaProfileResultSet">
		select *
		from jibsa_profile
			 join member using(member_no)
		where member_no = #{mId} and member_status = 'Y'
		
	</select>
	
	<select id="getQnaListCount" resultType="_int">
		select count(*)
		from qna
		where qna_status = 'Y'
	</select>

	<select id="selectQnaList" resultMap="qnaResultSet">
		select *
		from qna
			 join member using(member_no)
		where qna_status = 'Y'
		order by qna_no desc
	</select>
	
	<resultMap type="qna" id="qnaResultSet">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="QNA_CATEGORY" property="qnaCategory"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QUESTION_DATE" property="questionDate"/>
		<result column="QNA_ANSWER" property="qnaAnswer"/>
		<result column="ANSWER_DATE" property="answerDate"/>
		<result column="QNA_STATUS" property="qnaStatus"/>
	</resultMap>	
	
	<select id="selectFaqList" resultMap="faqResultSet">
		select *
		from faq
			 join member on(member_no = faq_writer)
		where faq_status = 'Y'
		order by faq_no desc
	</select>
	
	<resultMap type="faq" id="faqResultSet">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="MEMBER_NAME" property="faqWriter"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_CREATE_DATE" property="faqCreateDate"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
	</resultMap>	
	
	<select id="getSearchListCount" resultType="_int"> 
		select count(*)
		from member m
		    join animal a on(a.member_no = m.member_no)
		    join matching ma on(ma.animal_no = a.animal_no)
		    join jibsa_profile jp on(jp.member_no = ma.member_no)
		where    
		<if test="condition == 'petsitter'">
				jp.jibsa_name = upper(#{value})
		</if> 
		<if test="condition == 'animalCategory'">
				a.animal_kind like '%' || upper(#{value}) || '%'
		</if>
<!-- 		<if test="condition != 'petsitter' and condition != 'animalCategory'"> -->
<!-- 				(jp.jibsa_name = #{value}  -->
<!-- 				or a.animal_kind like '%' || #{value} || '%') -->
<!-- 		</if>  -->
	</select>
	<select id="selectSearchList" resultMap="boardResultSet">
		select *
		from member m
		    join animal a on(a.member_no = m.member_no)
		    join matching ma on(ma.animal_no = a.animal_no)
		    join jibsa_profile jp on(jp.member_no = ma.member_no)
		where 
		<if test="condition == 'petsitter'">
				jp.jibsa_name = upper(#{value})
		</if> 
		<if test="condition == 'animalCategory'">
				a.animal_kind like '%' || upper(#{value}) || '%'
		</if>
<!-- 		<if test="condition != 'petsitter' and condition != 'animalCategory'"> -->
<!-- 				(jp.jibsa_name = #{value}  -->
<!-- 				or a.animal_kind like '%' || #{value} || '%') -->
<!-- 		</if>  -->
		
		order by ma.matching_no desc
	</select>
	
	<update id="reviewCount">
   		update matching
		set review_count = review_count + 1
		where matching_no = #{mId}  
	</update>
	
	<select id="reviewDetail" resultMap="boardResultSet">
	    select *
	    from matching ma
	        join animal a on(ma.animal_no = a.animal_no)
	        join member m on(a.member_no = m.member_no)
	        join jibsa_profile jp on(ma.member_no = jp.member_no)
	    where ma.matching_no = #{mId} and m.member_status = 'Y'
	</select>
	
<!-- 	<select id="reviewDetailReply" resultMap="boardResultSet"> -->
<!-- 	    select * -->
<!-- 	    from matching ma -->
<!-- 	        join animal a on(ma.animal_no = a.animal_no) -->
<!-- 	        join member m on(a.member_no = m.member_no) -->
<!-- 	        join jibsa_profile jp on(ma.member_no = jp.member_no) -->
<!-- 	    where m.member_no = #{mId} and m.member_status = 'Y' -->
<!-- 	</select> -->
	
	<update id="updateReply">
		update matching
		set jibsa_comment = #{jibsaComment}
		where matching_no = #{jibsaNo}
	</update>
	
	<select id="selectReply" resultMap="boardResultSet">
        select *
		from matching
			join member using(member_no)
		where matching_no = #{mId}
	
	</select>
</mapper>
