<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jibsaMapper">

	<insert id="insertJibsa" >
	    INSERT INTO jibsa
	    VALUES (#{memberNo}, 
		    	#{jibsaGender}, 
		    	#{jibsaRrn}, 
		    	#{isSmoking}, 
		    	#{workCareer}, 
		    	'00000000,00000000,00000000,00000000,00000000,00000000,00000000',
		        #{availableArea}, 
		        #{motive}, 
		        #{expectedSalary}, 
		        'kakao',
		        'N',
		        sysdate, 
		        sysdate, 
		        'N',
		        #{license});
	  
	</insert>
	
	<insert id="insertJibsaProfile" >
	    INSERT INTO jibsa_profile 
	    VALUES (#{memberNo}, #{memberName}, #{profileTitle}, #{profileTag}, 'null');
	</insert>

		
<!-- 	<insert id="insertJibsaProfile">	 -->
<!-- 		insert into jibsa_profile -->
<!-- 		values ( -->
<!-- 			#{memberNo}, -->
<!-- 			#{memberName}, -->
<!-- 			#{jibsaTitle}, -->
<!-- 			#{jibsaTag}, -->
<!-- 			default		 -->
<!-- 		) -->
<!-- 	</insert> -->

	<insert id="insertTrainer">
		INSERT INTO jibsa (MEMBER_NO, JIBSA_GENDER, JIBSA_RRN, IS_SMOKING, WORK_CAREER, AVAILABLE_HOUR, AVAILABLE_AREA, MOTIVE,
							EXPECTED_SALARY, CHAT_ADDRESS, PRIMIUM_PAYMENT_DATE, PRIMIUM_END_DATE, IS_TRAINER, JIBSA_LICENSE  )
	    SELECT #{memberNo}, #{jibsaGender}, #{jibsaRrn}, #{isSmoking}, #{workCareer}, '00000000,00000000,00000000,00000000,00000000,00000000,00000000',
		    #{availableArea}, #{motive}, #{expectedSalary}, 'kakao', sysdate, sysdate, 'Y', #{license}
	    FROM dual;
	
	    INSERT INTO jibsa_profile (MEMBER_NO, JIBSA_NAME, PROFILE_TITLE, PROFILE_TAG )
	    SELECT #{memberNo}, #{memberName}, #{profileTitle}, #{profileTag}
	    FROM dual;
	</insert>
	
	<update id="updateMemberInfo">
		update member
		set member_email = #{memberEmail},
			member_phone = #{memberPhone}, member_address = #{memberAddress}
		where member_no = #{memberNo}
	</update>
	
	<update id="updateJibsaInfo">
		update jibsa
		set work_career = #{workCareer}, motive = #{motive},
			chat_address = #{chatAddress}
		where member_no = #{memberNo}
	</update>
	
	<update id="deleteJibsa">
		update member
		set is_jibsa = 'N'
		where member_no = #{memberNo}
	</update>
	
	<select id="selectJibsa" resultMap="jibsaResultSet">
		select *
		from jibsa
			 join member using(member_no)
		where member_no = #{memberNo}
	</select>
	
	<resultMap type="Jibsa" id="jibsaResultSet">
		<id column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="JIBSA_GENDER" property="jibsaGender"/>
		<result column="JIBSA_RRN" property="jibsaRrn"/>
		<result column="IS_SMOKING" property="isSmoking"/>
		<result column="WORK_CAREER" property="workCareer"/>
		<result column="AVAILABLE_HOUR" property="availableHour"/>
		<result column="AVAILABLE_AREA" property="availableArea"/>
		<result column="MOTIVE" property="motive"/>
		<result column="EXPECTED_SALARY" property="expectedSalary"/>
		<result column="CHAT_ADDRESS" property="chatAddress"/>
		<result column="IS_PRIMIUM" property="isPrimium"/>
		<result column="PRIMIUM_PAYMENT_DATE" property="primiumPaymentDate"/>
		<result column="PRIMIUM_END_DATE" property="primiumEndDate"/>
		<result column="PRIMIUM_END_DATE" property="isTrainer"/>
		<result column="JIBSA_STATUS" property="jibsaStatus"/>
		<result column="JIBSA_LICENSE" property="license"/>
	</resultMap>
	
	<update id="updateJibsaAvailableHour">
		update jibsa
		set available_hour = #{availableHour}
		where member_no = #{memberNo}
	</update>
	<insert id="insertImage">
		insert into image
		values(seq_img_id.nextval, #{renameName}, #{originalName}, #{imageLevel}, #{imagePath}, #{memberNo})
	</insert>
	
	<select id="getMatchingCount" resultType="_int">
		select count(*)
		from matching
		where jibsa_no = #{mNo}
			  and matching_status = 'Y'
	</select>
	
	<select id="selectMatchingList" resultMap="boardResultSet">
        select mc.matching_no, mc.animal_no, a.animal_name, a.animal_kind, mc.start_date, mc.end_date, mc.matching_place,
    		  mc.review_content, mc.review_rating, mc.review_count, mc.jibsa_comment, m.member_name, m.member_no, jp.jibsa_name, 
    		  jp.member_no, mc.matching_status, mc.review_status
		from matching mc
		     join animal a on(a.animal_no = mc.animal_no)
		     join jibsa_profile jp on(mc.jibsa_no = jp.member_no)
		     join member m on(mc.member_no = m.member_no)
		where mc.jibsa_no = #{mNo}
			  and mc.matching_status = 'Y'
		order by mc.matching_no desc
	</select>
	<resultMap type="Board" id="boardResultSet">
		<id column="MATCHING_NO" property="matchingNo"/>
		<result column="ANIMAL_NO" property="animalNo"/>
		<result column="ANIMAL_NAME" property="animalName"/>
		<result column="ANIMAL_KIND" property="animalKind"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="MATCHING_PLACE" property="matchingPlace"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="REVIEW_RATING" property="reviewRating"/>
		<result column="REVIEW_COUNT" property="reviewCount"/>
		<result column="JIBSA_COMMENT" property="jibsaComment"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="JIBSA_NAME" property="jibsaName"/>
		<result column="JIBSA_NO" property="jibsaNo"/>
		<result column="IS_JIBSA" property="isJibsa"/>
		<result column="MATCHING_STATUS" property="matchingStatus"/>
		<result column="REVIEW_STATUS" property="reviewStatus"/>
	</resultMap>
	
	<select id="selectImage" resultMap="imageResultSet">
		select *
		from image
		where image_level = #{type}
			  and member_no = #{mNo}
	</select>
	<resultMap type="Image" id="imageResultSet">
		<id column="IMAGE_NO" property="imageNo"/>		
		<result column="RENAME_NAME" property="renameName"/>
		<result column="ORIGINAL_NAME" property="originalName"/>
		<result column="IMAGE_LEVEL" property="imageLevel"/>
		<result column="IMAGE_PATH" property="imagePath"/>
		<result column="MEMBER_NO" property="memberNo"/>
	</resultMap>
	
	<update id="cancelMatching">
		update matching
		set matching_status = 'N'
		where matching_no = #{mcNo}
	</update>
	
	<select id="selectMatching" resultMap="boardResultSet">
        select mc.matching_no, mc.animal_no, a.animal_name, a.animal_kind, mc.start_date, mc.end_date, mc.matching_place,
    		  mc.review_content, mc.review_rating, mc.review_count, mc.jibsa_comment, m.member_name, m.member_no, jp.jibsa_name, 
    		  jp.member_no, mc.matching_status, mc.review_status
		from matching mc
		     join animal a on(a.animal_no = mc.animal_no)
		     join jibsa_profile jp on(mc.jibsa_no = jp.member_no)
		     join member m on(mc.member_no = m.member_no)
		where mc.matching_no = #{mcNo}
	</select>
	<update id="updateMatching">
		update matching
		set start_date = #{startDate},
			end_date = #{endDate}
		where matching_no = #{matchingNo}
	</update>
	
	<!-- 해당 매칭에 맞는 집사 프로필 정보 -->
	<select id="selectReserJibsa" resultMap="jibsaPResultMap">
	  SELECT j.jibsa_name, j.profile_title, j.member_no
	  FROM jibsa_profile j
	  JOIN matching m ON (m.member_no = j.member_no)
	  WHERE m.jibsa_no = j.member_no
	</select>
	
	<select id="selectJibsaProfile" resultMap="jibsaPResultMap">
		select *
		from jibsa_profile
		where member_no = #{memberNo}
	</select>
	
	<resultMap type="JibsaProfile" id="jibsaPResultMap">
		<id column="MEMBER_NO" property="memberNo"/>
	    <result column="JIBSA_NAME" property="jibsaName"/>
	    <result column="PROFILE_TITLE" property="profileTitle"/>
	    <result column="PROFILE_TAG" property="profileTag"/>
	    <result column="JIBSA_AVG_RATING" property="jibsaAvgRating"/>
	</resultMap>
	
	<!-- 오픈카톡주소 -->
	<select id="selectJibsaChat" resultMap="jibsaResultSet">
		select chat_address
		from jibsa
		where member_no = #{jibsaNo}
	</select>
	
</mapper>