<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jibsaMapper">

	<insert id="insertJibsa">
		INSERT INTO jibsa (MEMBER_NO, JIBSA_GENDER, JIBSA_RRN, IS_SMOKING, WORK_CAREER, AVAILABLE_HOUR, AVAILABLE_AREA, MOTIVE,
							EXPECTED_SALARY, CHAT_ADDRESS, PRIMIUM_PAYMENT_DATE, PRIMIUM_END_DATE,  JIBSA_LICENSE  )
	    SELECT #{memberNo}, #{jibsaGender}, #{jibsaRrn}, #{isSmoking}, #{workCareer}, '00000000,00000000,00000000,00000000,00000000,00000000,00000000',
		    #{availableArea}, #{motive}, #{expectedSalary}, 'kakao', sysdate, sysdate, #{license}
	    FROM dual;
	
	    INSERT INTO jibsa_profile (MEMBER_NO, JIBSA_NAME, PROFILE_TITLE, PROFILE_TAG )
	    SELECT #{memberNo}, #{memberName}, #{profileTitle}, #{profileTag}
	    FROM dual;
	</insert>
		
<!-- 	<insert id="insertJibsaProfile">	 -->
<!-- 		insert into jibsa_profile -->
<!-- 		values ( -->
<!-- 			#{memberNo}, -->
<!-- 			#{memberName}, -->
<!-- 			#{jibsaTitle}, -->
<!-- 			#{jibsaTag}, -->
<!-- 			default		 -->
<!-- 		) -->
<!-- 	</insert> -->
	
	<update id="updateMemberInfo">
		update member
		set member_email = #{memberEmail},
			member_phone = #{memberPhone}, member_address = #{memberAddress}
		where member_no = #{memberNo}
	</update>
	
	<update id="updateJibsaInfo">
		update jibsa
		set work_career = #{workCareer}, motive = #{motive},
			chat_address = #{chatAddress}
		where member_no = #{memberNo}
	</update>
	
	<update id="deleteJibsa">
		update member
		set is_jibsa = 'N'
		where member_no = #{memberNo}
	</update>
	
	<select id="selectJibsa" resultMap="jibsaResultSet">
		select *
		from jibsa
			 join member using(member_no)
		where member_no = #{memberNo}
	</select>
	
	<resultMap type="Jibsa" id="jibsaResultSet">
		<id column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="JIBSA_GENDER" property="jibsaGender"/>
		<result column="JIBSA_RRN" property="jibsaRrn"/>
		<result column="IS_SMOKING" property="isSmoking"/>
		<result column="WORK_CAREER" property="workCareer"/>
		<result column="AVAILABLE_HOUR" property="availableHour"/>
		<result column="AVAILABLE_AREA" property="availableArea"/>
		<result column="MOTIVE" property="motive"/>
		<result column="EXPECTED_SALARY" property="expectedSalary"/>
		<result column="CHAT_ADDRESS" property="chatAddress"/>
		<result column="IS_PRIMIUM" property="isPrimium"/>
		<result column="PRIMIUM_PAYMENT_DATE" property="primiumPaymentDate"/>
		<result column="PRIMIUM_END_DATE" property="primiumEndDate"/>
		<result column="PRIMIUM_END_DATE" property="isTrainer"/>
		<result column="JIBSA_STATUS" property="jibsaStatus"/>
		<result column="JIBSA_LICENSE" property="license"/>
	</resultMap>
	
	<update id="updateJibsaAvailableHour">
		update jibsa
		set available_hour = #{availableHour}
		where member_no = #{memberNo}
	</update>
	<insert id="insertImage">
		insert into image
		values(seq_img_id.nextval, #{renameName}, #{originalName}, #{imageLevel}, #{imagePath}, #{memberNo})
	</insert>
	
	<select id="selectJibsaProfile" resultMap="jibsaPResultMap">
		select *
		from jibsa_profile
		where member_no = #{memberNo}
	</select>
	
	<resultMap type="JibsaProfile" id="jibsaPResultMap">
		<id column="MEMBER_NO" property="memberNo"/>
	    <result column="JIBSA_NAME" property="jibsaName"/>
	    <result column="PROFILE_TITLE" property="profileTitle"/>
	    <result column="PROFILE_TAG" property="profileTag"/>
	    <result column="JIBSA_AVG_RATING" property="jibsaAvgRating"/>
	</resultMap>
	
	<select id="selectJibsaChat" resultMap="jibsaResultSet">
		select chat_address
		from jibsa
		where member_no = #{jibsaNo}
	</select>
	
</mapper>