<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<insert id="insertJibsa">
		insert jibsa
		set MEMBER_NO = # { memberId },
			JIBSA_GENDER =#{ jibsaGender } ,
			JIBSA_RRN = #{ jibsaPrn },
			IS_SMOKING = #{ isSmoking },
			WORK_CAREER = #{workCareer},
			AVAILABLE_HOUR = null ,
			AVAILABLE_AREA = #{ availableArea },
			MOTIVE = #{motive},
			EXPECTED_SALARY = null ,
			CHAT_ADDRESS = null ,
			IS_PRIMIUM = 'N',
			PRIMIUM_PAYMENT_DATE = null ,
			PRIMIUM_PAYMENT_DATE = null ,
			IS_TRAINER = 'N'
			
		where ID=#{id}
	
	</insert>
	
</mapper>