<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<select id="login" resultMap="memberResultSet">
		select *
		from member
		where member_id = #{memberId} and member_status = 'Y'
	</select>
	<resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="MEMBER_EMAIL" property="memberEmail"/>
		<result column="IS_ADMIN" property="isAdmin"/>
		<result column="IS_JIBSA" property="isJibsa"/>
		<result column="MEMBER_STATUS" property="memberStatus"/>
		<result column="EXIT_DATE" property="exitDate"/>
		<result column="BLACKLIST" property="blackList"/>
		<result column="MEMBER_PHONE" property="memberPhone"/>
		<result column="MEMBER_ADDRESS" property="memberAddress"/>
	</resultMap>
	
	<insert id="enrollMember">
		insert into member
		values( SEQ_MEM_ID.NEXTVAL, #{ memberId }, #{ memberPwd }, #{ memberName }, #{ memberEmail }, default, default, default, sysdate, default, default, #{ memberPhone }, #{ memberAddress })
	
	</insert>

	<select id="getMemberQnaListCount" resultType="_int">
		select count(*)
		from qna
		where member_no = #{mId} and qna_status = 'Y'
	</select>	

	<select id="getMemberQnaList" resultMap="qnaResultSet">
		select *
		from qna
		where member_no = #{mId} and qna_status = 'Y'
		order by qna_no desc
	</select>
	<resultMap type="qna" id="qnaResultSet">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="QNA_CATEGORY" property="qnaCategory"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QUESTION_DATE" property="questionDate"/>
		<result column="QNA_ANSWER" property="qnaAnswer"/>
		<result column="ANSWER_DATE" property="answerDate"/>
		<result column="QNA_STATUS" property="qnaStatus"/>
	</resultMap>

	<select id="getMemberFaqList" resultMap="faqResultSet">
		select *
		from faq
			 join member on(member_no = faq_writer)
		where faq_status = 'Y'
	</select>
	<resultMap type="faq" id="faqResultSet">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="MEMBER_NAME" property="faqWriter"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_CREATE_DATE" property="faqCreateDate"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
	</resultMap>
	
	<select id="getQnaSelect" resultMap="qnaResultSet">
		select *
		from qna
		where qna_no = #{qId} and qna_status = 'Y'
	</select>
	
	<update id="updateQna">
		update qna
		set qna_title = #{qnaTitle},
			qna_Category = #{qnaCategory},
			qna_content = #{qnaContent}
		where qna_no = #{qnaNo}
	</update>
	
	<update id="deleteQna">
		update qna
		set qna_status = 'N'
		where qna_no = #{qId}
	</update>

	<insert id="insertQna">
		insert into qna
		values(seq_b_id.nextval, #{memberNo}, #{qnaCategory}, #{qnaTitle}, #{qnaContent}, default, null, null, default)
	</insert>
	
	<select id="checkMemberId" resultType="_int">
		select count(*)
		from member
		where member_id = #{memberId}
	</select>
	
	<update id="updateInfo">
		update member
		set member_name = #{memberName}, member_email = #{memberEmail},
			member_phone = #{memberPhone}, member_address = #{memberAddress}
		where member_id = #{memberId}
	</update>
	
	<update id="updatePwd">
		update member
		set member_pwd = #{newPwd}
		where member_id = #{memberId}
	</update>
	
	<update id="deleteInfo">
		update member
		set member_status = 'N'
		where member_id = #{memberId}
	</update>
	
	<select id="foundId" resultType="string">
		select member_id
		from member
		where member_name = #{memberName} and member_email = #{memberEmail}
	</select>
	
	<select id="selectMember" resultMap="memberResultSet">
		select *
		from member
		where member_id = #{memberId}
	</select>
	
	<update id="updateNewPwd">
		update member
		set member_pwd = #{newPwd}
		where member_id = #{memberId}
	</update>

</mapper>
