<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="semi.project.jsnr.board.model.vo.Board" alias="Board"/>
		<typeAlias type="semi.project.jsnr.board.model.vo.Qna" alias="qna"/>
		<typeAlias type="semi.project.jsnr.board.model.vo.Faq" alias="faq"/>
		<typeAlias type="semi.project.jsnr.member.model.vo.Member" alias="Member"/>
		<typeAlias type="semi.project.jsnr.jibsa.model.vo.Jibsa" alias="Jibsa"/>
		<typeAlias type="semi.project.jsnr.jibsa.model.vo.JibsaProfile" alias="JibsaProfile"/>
		<typeAlias type="semi.project.jsnr.animal.model.vo.Animal" alias="Animal"/>
		<typeAlias type="semi.project.jsnr.animal.model.vo.Image" alias="Image"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/jibsa-mapper.xml"/>
		<mapper resource="mappers/animal-mapper.xml"/>
		<mapper resource="mappers/matching-mapper.xml"/>
	</mappers>
	
</configuration>
